@use "../../styles/sizes";
@use "../../styles/colors";

.IndicatorViewClear {
  font-weight: 700;
  font-size: sizes.$f4;
  padding: 0 sizes.$s1;
  border-radius: sizes.$border-radius;
  background-color: colors.$grey-5;
  color: colors.$white;
  margin-left: sizes.$f4;
  width: initial; // Override FA default
}
