@use "~@sikaeducation/ui/styles" as *;

.ActivityInteractionView {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  > p {
    text-align: right;
    margin-bottom: $sizes-s2;
  }
  > ul {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $sizes-s6;
  }
}
