@use "../../styles/typography";
@use "../../styles/sizes";
@use "../../styles/colors";

.CrumbNavigation {
  @include typography.breadcrumb-font;
  margin-bottom: sizes.$s6;
  @media (max-width: sizes.$small-breakpoint){
    margin-bottom: sizes.$s3;
  }
  li {
    display: inline-block;
  }
  li + li {
    margin-left: sizes.$s1;
    &::before {
      content: ">";
      margin-right: sizes.$s1;
    }
  }
  a {
    /* Controls spacing of underline */
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid colors.$grey-5;
  }
}
