@use "../../styles/typography";
@use "../../styles/sizes";

.CrumbNavigation {
  @include typography.breadcrumb-font;
  margin-bottom: sizes.$s6;
  li {
    display: inline-block;
  }
  li + li {
    margin-left: sizes.$s1;
    &::before {
      content: ">";
      margin-right: sizes.$s1;
    }
  }
}
