@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/buttons";
@use "../../styles/typography";

.ActivityInteractionSubmission {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: sizes.$s6;
  label {
    @include typography.breadcrumb-font;
  }
  input, button {
    display: inline-block;
    border: 1px solid colors.$grey-8;
    padding: sizes.$s2 sizes.$s4;
  }
  input {
    border-radius: sizes.$border-radius 0 0 sizes.$border-radius;
    border-right: none;
  }
  [type=submit]{
    background-color: colors.$success-9;
    color: colors.$success-2;
    border-radius: 0 sizes.$border-radius sizes.$border-radius 0;
    cursor: pointer;
    transition: background-color sizes.$transition;
    &:hover {
      background-color: colors.$success-8;
    }
  }
}
