@import "../../ui";

.Notification {
  color: $primary-1;
  background-color: $primary-10;
  padding: $s2;
  border-radius: $radius;
  @include large;
  max-width: $s11;
  text-align: center;
  > p {
    margin: 0;
  }
}
