@use "../../styles/sizes";
@use "../../styles/borders";
@use "../../styles/colors";

.Notification {
  color: colors.$primary-1;
  background-color: colors.$primary-10;
  padding: sizes.$s5;
  border-radius: borders.$radius;
  box-shadow: 2px 2px 22px colors.$grey-8;
  > p {
    margin: 0;
  }
}
