$black: hsl(0, 0%, 5%);
$white: hsl(0, 0%, 100%);

$primary-1: hsl(189, 90%, 12%);
$primary-2: hsl(189, 80%, 20%);
$primary-3: hsl(189, 70%, 30%);
$primary-4: hsl(189, 65%, 35%);
$primary-5: hsl(189, 50%, 42%);
$primary-6: hsl(189, 52%, 50%);
$primary-7: hsl(189, 55%, 60%);
$primary-8: hsl(189, 57%, 78%);
$primary-9: hsl(189, 59%, 82%);

$success-1: hsl(99, 90%, 15%);
$success-2: hsl(99, 70%, 28%);
$success-3: hsl(99, 80%, 38%);
$success-4: hsl(99, 90%, 40%);
$success-5: hsl(99, 100%, 40%);
$success-6: hsl(99, 90%, 63%);
$success-7: hsl(99, 87%, 70%);
$success-8: hsl(99, 90%, 80%);
$success-9: hsl(99, 90%, 90%);

$warning-1: hsl(49, 90%, 15%);
$warning-2: hsl(49, 70%, 28%);
$warning-3: hsl(49, 80%, 38%);
$warning-4: hsl(49, 85%, 45%);
$warning-5: hsl(49, 100%, 45%);
$warning-6: hsl(49, 90%, 70%);
$warning-7: hsl(49, 87%, 77%);
$warning-8: hsl(49, 93%, 81%);
$warning-9: hsl(49, 100%, 85%);

$failure-1: hsl(9, 90%, 15%);
$failure-2: hsl(9, 80%, 23%);
$failure-3: hsl(9, 85%, 33%);
$failure-4: hsl(9, 87%, 37%);
$failure-5: hsl(9, 90%, 40%);
$failure-6: hsl(9, 83%, 50%);
$failure-7: hsl(9, 90%, 73%);
$failure-8: hsl(9, 93%, 79%);
$failure-9: hsl(9, 100%, 85%);

$grey-1: hsl(189, 10%, 15%);
$grey-2: hsl(189, 10%, 23%);
$grey-3: hsl(189, 10%, 30%);
$grey-4: hsl(189, 12%, 35%);
$grey-5: hsl(189, 15%, 40%);
$grey-6: hsl(189, 13%, 63%);
$grey-7: hsl(189, 12%, 75%);
$grey-8: hsl(189, 10%, 82%);
$grey-9: hsl(189, 10%, 88%);
