$black: hsl(0, 0%, 5%);
$white: hsl(0, 0%, 100%);

$primary-1: hsl(189, 90%, 12%);
$primary-2: hsl(189, 80%, 18%);
$primary-3: hsl(189, 70%, 26%);
$primary-4: hsl(189, 62%, 33%);
$primary-5: hsl(189, 50%, 42%);
$primary-6: hsl(189, 52%, 50%);
$primary-7: hsl(189, 55%, 60%);
$primary-8: hsl(189, 57%, 70%);
$primary-9: hsl(189, 59%, 80%);

$success-1: hsl(140, 80%, 15%);
$success-2: hsl(140, 72%, 20%);
$success-3: hsl(140, 64%, 26%);
$success-4: hsl(140, 58%, 32%);
$success-5: hsl(140, 50%, 40%);
$success-6: hsl(140, 52%, 52%);
$success-7: hsl(140, 58%, 62%);
$success-8: hsl(140, 64%, 74%);
$success-9: hsl(140, 70%, 85%);

$warning-1: hsl(49, 85%, 15%);
$warning-2: hsl(49, 78%, 23%);
$warning-3: hsl(49, 72%, 33%);
$warning-4: hsl(49, 69%, 42%);
$warning-5: hsl(49, 60%, 55%);
$warning-6: hsl(49, 65%, 64%);
$warning-7: hsl(49, 75%, 73%);
$warning-8: hsl(49, 82%, 82%);
$warning-9: hsl(49, 95%, 89%);

$failure-1: hsl(9, 90%, 13%);
$failure-2: hsl(9, 85%, 20%);
$failure-3: hsl(9, 75%, 29%);
$failure-4: hsl(9, 62%, 35%);
$failure-5: hsl(9, 50%, 44%);
$failure-6: hsl(9, 60%, 56%);
$failure-7: hsl(9, 70%, 66%);
$failure-8: hsl(9, 80%, 77%);
$failure-9: hsl(9, 90%, 85%);

$grey-1: hsl(189, 20%, 10%);
$grey-2: hsl(189, 18%, 15%);
$grey-3: hsl(189, 16%, 20%);
$grey-4: hsl(189, 13%, 30%);
$grey-5: hsl(189, 10%, 40%);
$grey-6: hsl(189, 13%, 52%);
$grey-7: hsl(189, 16%, 70%);
$grey-8: hsl(189, 17%, 79%);
$grey-9: hsl(189, 20%, 88%);
