@use "./sizes";
@use "./colors";
@use "./typography";

@mixin form {
  display: flex;
  flex-flow: column nowrap;
  padding: sizes.$s8;
  width: 100%;
  .form-submit {
    align-self: flex-end;
  }
  .error {
    @include form-error;
  }
}

@mixin form-control {
  display: block;
  max-width: sizes.$s14;
  font-size: sizes.$f3;
  background-color: colors.$white;
  margin-bottom: sizes.$s3;
  label {
    color: colors.$grey-4;
    margin-bottom: sizes.$s1;
  }
}

@mixin form-error {
  color: colors.$failure-5;
  margin-top: sizes.$s6;
}
