@use "./sizes";
@use "./colors";
@use "./typography";

@mixin form {
  display: flex;
  flex-flow: column nowrap;
  padding: sizes.$s5;
  width: 100%;
  .form-submit {
    align-self: flex-end;
  }
  .error {
    @include form-error;
  }
}

@mixin form-control {
  display: block;
  padding: sizes.$s1 0;
  font-size: sizes.$f3;
  border: none;
  border-bottom: 1px solid colors.$primary-7;
  background-color: colors.$white;
  &:focus {
    border-bottom: 3px solid colors.$primary-5;
    outline: none;
  }
}

@mixin form-error {
  color: colors.$failure-5;
  margin-top: sizes.$s6;
}
