$content-width-large: 680px;
$content-width-xl: 880px;
$border-radius: 4px;
$transition: 0.2s;
$toast-duration: 6s;

// Breakpoints

$small-breakpoint: 480px;

// General

$s1: 4px;
$s2: 8px;
$s3: 12px;
$s4: 16px;
$s5: 24px;
$s6: 32px;
$s7: 48px;
$s8: 64px;
$s9: 96px;
$s10: 128px;
$s11: 192px;
$s12: 256px;
$s13: 384px;
$s14: 512px;
$s15: 640px;
$s16: 768px;

// Type

$f1: 12px;
$f2: 14px;
$f3: 16px;
$f4: 18px;
$f5: 20px;
$f6: 24px;
$f7: 30px;
$f8: 36px;
$f9: 48px;
$f10: 60px;
$f11: 72px;
