@use "./sizes";
@use "./colors";

@font-face {
  font-family: "Gill Sans";
  src: url("../assets/gs.woff") format("woff");
}
@font-face {
  font-family: "Gill Sans Condensed";
  src: url("../assets/gsc.woff") format("woff");
}

@mixin hero-font {
  font-family: "Gill Sans Condensed";
  color: colors.$primary-5;
  font-size: sizes.$font-xxxxl;
  letter-spacing: -2px;
}

@mixin tagline-font {
  font-family: "Gill Sans";
  color: colors.$primary-1;
  font-size: sizes.$font-baseline;
}

@mixin nav-item-font {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: colors.$grey-2;
  margin-bottom: sizes.$baseline;
  font-size: sizes.$font-baseline;
  line-height: sizes.$font-xl;
}

@mixin body-font {
  font-family: "Gill Sans";
  color: colors.$primary-1;
  font-size: sizes.$font-large;
  font-weight: 400;
}

@mixin heading-font-1 {
  font-family: "Gill Sans Condensed";
  color: colors.$primary-5;
  font-size: sizes.$font-xxxxxl;
  letter-spacing: -2px;
}

@mixin heading-font-2 {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$font-xxl;
  color: colors.$grey-4;
  line-height: sizes.$font-xxxl;
  margin-top: sizes.$xl;
  margin-bottom: sizes.$baseline;
}

@mixin heading-font-3 {
  font-family: "Gill Sans", sans-serif;
  font-weight: 700;
  font-size: sizes.$font-baseline;
  color: colors.$grey-4;
  line-height: sizes.$font-xxxl;
  margin-top: sizes.$xl;
  margin-bottom: sizes.$baseline;
}

@mixin legal-font {
  font-family: "Gill Sans";
  color: colors.$grey-7;
  font-size: sizes.$font-baseline;
  font-weight: 400;
}
