@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/buttons";

.ActivityInteractionView {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  > p {
    text-align: right;
    margin-bottom: sizes.$s2;
  }
  > ul {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: sizes.$s6;
    button {
      @include buttons.button-shadow-small;
      margin-left: sizes.$s4;
      border-radius: sizes.$border-radius;
      font-size: sizes.$f3;
      background-color: colors.$grey-9;
      color: colors.$grey-3;
      padding: sizes.$s1 sizes.$s3;
      cursor: pointer;
      border: none;
      &.active[data-confidence-level="1"] {
        background-color: colors.$failure-9;
        color: colors.$failure-1;
      }
      &.active[data-confidence-level="2"] {
        background-color: colors.$warning-9;
        color: colors.$warning-1;
      }
      &.active[data-confidence-level="3"] {
        background-color: colors.$success-9;
        color: colors.$success-1;
      }
    }
  }
}
