@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/typography";
@use "../../styles/buttons";

.InboxCoachPromptDisplay {
  .tag {
    color: colors.$grey-6;
    display: inline-block;
    background-color: colors.$grey-9;
    padding: 0 sizes.$s4;
    @include typography.breadcrumb-font;
    border-radius: sizes.$border-radius;
    & + .tag {
      margin-left: sizes.$s2;
    }
  }
  .submission-section {
    text-align: right;
    button {
      display: inline-block;
      cursor: pointer;
      border: none;
      border-radius: sizes.$border-radius;
      background-color: colors.$failure-9;
      color: colors.$failure-1;
      @include buttons.button-shadow-small;
      padding: sizes.$s2 sizes.$s4;
    }
  }
}
