@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/buttons";

.ButtonFormSubmission {
  background-color: colors.$grey-9;
  color: colors.$grey-2;
  border-radius: sizes.$border-radius;
  border: none;
  cursor: pointer;
  padding: sizes.$s2 sizes.$s3;
  transition: background-color sizes.$transition;
  @include buttons.button-shadow-small;
  &:hover {
    background-color: darken(colors.$grey-9, 5%);
    color: colors.$grey-1;
  }
}
