@use "../../styles/sizes";
@use "../../styles/colors";

.LogoutButton {
  display: inline-block;
  border: none;
  background-color: inherit;
  color: colors.$grey-6;
  font-size: sizes.$f6;
  cursor: pointer;
  width: 100%;
  text-align: right;
}
