@use "../../styles/sizes";
@use "../../styles/typography";
@use "../../styles/colors";

.ProgramViewer {
  padding: sizes.$s4 sizes.$s8;
  display: flex;
  justify-content: center;
  .ProgramViewer-wrapper {
    display: grid;
    grid-template-columns: 450px 680px;
    grid-template-rows: 1fr;
    > ul {
      grid-column: 1 / span 1;
    }
    > .AppContent {
      grid-column: 2 / span 1;
      margin-left: sizes.$s8;
    }
  }
  ul ul {
    margin-left: sizes.$s6;
  }
  ul {
    margin-bottom: 0;
  }
}
