.AppHome {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-block-end: 15%;

  .login {
    display: inline;
    border: none;
    background-color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
}
