@use "../../../styles/typography";
@use "../../../styles/sizes";
@use "../../../styles/colors";

.primary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 700;
  font-size: sizes.$f8;
  color: colors.$primary-3;
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f6;
  }
  &.margin {
    margin-top: sizes.$f4;
    margin-bottom: sizes.$f6;
    @media (max-width: sizes.$small-breakpoint){
      margin-bottom: sizes.$f4;
    }
  }
}
.secondary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$f7;
  color: colors.$grey-4;
  line-height: sizes.$f8;
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f6;
  }
  &.margin {
    margin-top: sizes.$f7;
    margin-bottom: sizes.$f2;
    @media (max-width: sizes.$small-breakpoint){
      margin-top: sizes.$f4;
      margin-bottom: sizes.$f1;
    }
  }
}
.tertiary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$f6;
  color: colors.$grey-5;
  line-height: sizes.$f7;
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f5;
  }
  &.margin {
    margin-bottom: sizes.$f1;
    @media (max-width: sizes.$small-breakpoint){
      margin-bottom: sizes.$f1;
    }
  }
}
.quaternary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$f4;
  color: colors.$grey-4;
  margin-bottom: sizes.$s4;
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f4;
  }
  &.margin {
    margin-bottom: sizes.$s4;
  }
}
