@use "../../styles/sizes";
@use "../../styles/colors";

.PreviousFeedback {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  background-color: colors.$grey-9;
  border-radius: sizes.$border-radius;
  padding: sizes.$s4; 
  .AppContent {
    margin: 0 auto;
    width: 70%;
  }
}
