@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/typography";
@use "../../styles/buttons";

.PerformanceList {
  h1 {
    @include typography.heading-font-1;
  }
  h2 {
    @include typography.heading-font-2;
  }
  .submissions {
    height: 65vh;
    overflow-y: auto;
    width: sizes.$content-width-large;
  }
}
