@use "../../styles/typography";
@use "../../styles/colors";
@use "../../styles/sizes";

.ActivityManagerView {
  width: sizes.$s17;
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: sizes.$s4;
  }
}
