@use "../../styles/typography";
@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/buttons";

.ActivityManagerView {
  width: 100%;
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    h1 {
      @include typography.heading-font-2;
      margin-top: 0;
      .activities-count {
        position: relative;
        color: colors.$grey-8;
        font-size: sizes.$f4;
        bottom: 2px;
      }
    }
    button {
      @include buttons.button-primary;
      height: auto;
    }
  }
}
