@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/buttons";

.ActivityInteraction {
  > ul {
    display: flex;
    flex-flow: row wrap;
    button {
      @include buttons.button-shadow-small;
      margin-right: sizes.$s4;
      border-radius: sizes.$border-radius;
      font-size: sizes.$f3;
      background-color: colors.$grey-9;
      color: colors.$grey-3;
      padding: sizes.$s1 sizes.$s3;
      cursor: pointer;
      border: none;
      [data-confidence-level="1"].active {
        background-color: colors.$failure-9;
        color: colors.$failure-1;
      }
      [data-confidence-level="2"].active {
        background-color: colors.$warning-9;
        color: colors.$warning-1;
      }
      [data-confidence-level="3"].active {
        background-color: colors.$success-9;
        color: colors.$success-1;
      }
    }
  }
}
