@use "../../styles/sizes";
@use "../../styles/typography";

.AppHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: sizes.$s6;
  @media (max-width: sizes.$small-breakpoint){
    margin-bottom: sizes.$s4;
  }
  .logo {
    @include typography.logo-font;
  }
  .program-label {
    @include typography.heading-font-3;
    @media (max-width: sizes.$small-breakpoint){
      display: none;
    }
  }
}

