@use "../../styles/sizes";
@use "../../styles/colors";

.InboxLearner {
  > .AppContent:nth-child(1) {
    background-color: colors.$grey-10;
    padding: sizes.$s4;
    margin-bottom: sizes.$s4;
  }
}
