@use "../../styles/sizes";
@use "../../styles/colors";

.prompt-response {
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
  > .AppContent {
    padding-top: sizes.$s1; 
    padding-bottom: sizes.$s1; 
    border-radius: sizes.$border-radius;
  }
  > .AppContent:nth-child(1) {
    background-color: colors.$grey-9;
    margin-bottom: sizes.$s4;
  }
}
