@use "../../styles/sizes";
@use "../../styles/colors";

.PreviousSubmissionFeedback {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  background-color: colors.$grey-10;
  border-radius: sizes.$border-radius;
  padding: sizes.$s4; 
  > li > div > .feedback {
    padding: 0;
  }
}
