@use "../../styles/sizes";
@use "../../styles/buttons";
@use "../../styles/colors";

.EvaluatorPerformanceHeader {
  th {
    font-weight: 700;
    text-align: left;
    padding: sizes.$s4;
  }
  .evaluate-all {
    button {
      @include buttons.button-shadow-small;
      border-radius: sizes.$border-radius;
      border: none;
      cursor: pointer;
      background-color: colors.$grey-10;
      color: colors.$grey-1;
      padding: sizes.$s1;
    }
  }
}
