@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/typography";
@use "../../../styles/colors";

.TextArea {
  max-width: sizes.$s14;
  label {
    @include typography.breadcrumb-font;
    margin-bottom: sizes.$s2;
  }
  textarea {
    @include typography.code-font;
    border-radius: borders.$radius;
    border: 1px solid colors.$grey-6;
    height: sizes.$s9;
    margin-bottom: sizes.$s4;
    padding: sizes.$s4;
    resize: vertical;
    width: 100%;
    overflow-y: auto;
  }
}
