@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/typography";
@use "../../../styles/colors";
@use "../../../styles/forms";

.TextArea {
  @include forms.form-control;
  textarea {
    @include typography.code-font;
    @include borders.trace;
    font-size: sizes.$f2;
    height: sizes.$s9;
    resize: vertical;
    width: calc(100% + 16px);
    padding: sizes.$s2 sizes.$s2;
    overflow-y: auto;
    margin-left: -6px; // Visually adjust to align with input
    &:focus {
      border-bottom: 3px solid colors.$primary-5;
      outline: none;
    }
  }
}
