@use "sass:color";
@use "@sikaeducation/ui/styles" as *;

#modal-wrapper {
  position: absolute;
  inset-block: 0 0;
  inset-inline: 0 0;
}

#modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  inset-block: 0 0;
  inset-inline: 0 0;
}

#modal-content {
  z-index: 20;
  border-radius: $borders-radius;
  inline-size: $sizes-s15;
}

#modal-shadow {
  position: fixed;
  z-index: 10;
  background-color: color.adjust($colors-black, $alpha: -0.1);
  inset-block: 0 0;
  inset-inline: 0 0;
}
