@use "../../styles/sizes";

.CurriculumViewer {
  flex-basis: sizes.$content-width-large;
  flex-shrink: 1;

  .curriculum-content {
    width: sizes.$content-width-large;
    @media (max-width: sizes.$small-breakpoint){
      padding-bottom: sizes.$s6;
    }
  }
}
