@use "../../styles/sizes";

.CurriculumViewer {
  width: sizes.$content-width-large;

  .curriculum-content {
    padding-bottom: sizes.$s7;
    @media (max-width: sizes.$small-breakpoint){
      padding-bottom: sizes.$s6;
    }
  }
}
