@use "../../styles/sizes";
@use "../../styles/borders";
@use "../../styles/typography";

.AppHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: sizes.$s6;
  @media (max-width: sizes.$small-breakpoint){
    margin-bottom: sizes.$s4;
  }
  .primary-navigation {
    .links {
      margin-bottom: sizes.$s2;
      li {
        display: inline-block;
        & + li {
          margin-left: sizes.$s4;
        }
      }
    }
    .logo {
      @include typography.logo-font;
      display: inline-block;
      margin-top: -12px; // Visual alignment with user avatar
      a {
        text-decoration: none;
      }
    }
    .program-label {
      @include typography.program-label-font;
      @media (max-width: sizes.$small-breakpoint){
        display: none;
      }
    }
  }
  .user-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    .avatar {
      width: sizes.$s7;
      border-radius: borders.$radius;
    }
    .Button.tertiary-button {
      padding-right: 0;
    }
  }
}

