@use "@sikaeducation/ui/styles" as *;

.AppHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-block-end: $sizes-s6;

  @media (max-width: $sizes-small-breakpoint) {
    margin-block-end: $sizes-s4;
  }

  .primary-navigation {
    .links {
      margin-block-end: $sizes-s2;

      li {
        display: inline-block;

        & + li {
          margin-inline-start: $sizes-s4;
        }
      }

      .active {
        font-weight: 700;
      }
    }

    .program-label {
      color: $colors-grey-6;
      font-weight: 400;
      font-size: $sizes-f5;
      font-family: "Gill Sans", sans-serif;
      line-height: $sizes-f7;
      margin-block-end: $sizes-f1;

      @media (max-width: $sizes-small-breakpoint) {
        display: none;
      }
    }
  }

  .user-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;

    .Button.tertiary-button {
      padding-inline-end: 0;
    }
  }
}
