@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/typography";
@use "../../styles/buttons";

.PerformanceListing { // Combine with PerformanceListing.scss
  grid-template-rows: auto auto auto;
  .toggle-evaluation-form {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    text-align: right;
    button {
      display: inline-block;
      background-color: colors.$grey-9;
      color: colors.$grey-3;
      border: none;
      padding: sizes.$s1 sizes.$s4;
      border-radius: sizes.$border-radius;
      @include buttons.button-shadow-small;
      font-size: sizes.$f3;
      cursor: pointer;
    }
  }
  .SubmissionEvaluationForm {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
  }
  .evaluation-feedback {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    background-color: colors.$grey-9;
    border-radius: sizes.$border-radius;
    padding-top: sizes.$s4; 
    padding-bottom: sizes.$s2; 
  }
  .evaluator-avatar {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: sizes.$s2;
    margin-right: sizes.$s2;
  }
}
