@use "../../../styles/sizes";
@use "../../../styles/colors";

.Form {
  background-color: colors.$white;
  display: flex;
  flex-flow: column nowrap;
  padding: sizes.$s7 sizes.$s8;
  width: 100%;
  .Heading {
    margin-bottom: sizes.$s5;
  }
  .form-submit {
    align-self: flex-end;
  }
  .error {
    color: colors.$failure-5;
    margin-top: sizes.$s6;
  }
}
