// @use "@sikaeducation/ui/styles" as *;

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Gill Sans", sans-serif;
  min-block-size: 100vb;
  padding-block-start: $sizes-s5;
  padding-block-end: $sizes-s5;

  @media (max-width: $sizes-small-breakpoint) {
    padding-block-start: $sizes-s2;
    padding-block-end: $sizes-s2;
  }

  > header,
  > main,
  > footer {
    padding: 0 $sizes-s5;

    @media (max-width: $sizes-small-breakpoint) {
      padding: 0 $sizes-s3;
    }
  }

  > header {
    margin-block-end: $sizes-s5;
  }

  > main {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: $sizes-small-breakpoint) {
      display: block;
    }
  }

  > footer {
    margin-block-start: $sizes-s5;
  }
}
