@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/typography";
@use "../../styles/buttons";

.InstructorInbox {
  // flex-basis: sizes.$content-width-large;
  // flex-shrink: 1;
  h1 {
    @include typography.heading-font-1;
  }
  h2 {
    @include typography.heading-font-2;
  }
  .submissions {
    height: 60vh;
    overflow-y: auto;
    width: 600px;
  }
}

.LearnerViewing {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  margin-bottom: sizes.$s7;
  > img {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: sizes.$s4;
  }
  > p {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin-bottom: 0;
  }
  > time {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    @include typography.breadcrumb-font;
    color: colors.$grey-7;
  }
  .confidence-level {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    margin-right: sizes.$s4;
    margin-left: sizes.$s2;
    margin-bottom: sizes.$s4;
  }
}

.failure {
  color: colors.$failure-6;
}
.pending {
  color: colors.$grey-6;
}
.success {
  color: colors.$success-6;
}
