@use "../styles/typography";
@use "../styles/sizes";
@use "../styles/colors";
@use "../styles/buttons";

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Gill Sans", sans-serif;
  padding-top: sizes.$s5;
  padding-bottom: sizes.$s5;
  @media (max-width: sizes.$small-breakpoint){
    padding-top: sizes.$s2;
    padding-bottom: sizes.$s2;
  }
}

.App > header, .App > .constrained-container, .App > footer {
  padding: 0 sizes.$s5;
  @media (max-width: sizes.$small-breakpoint){
    padding: 0 sizes.$s3;
  }
}

.App > header {
  margin-bottom: sizes.$s5;
}


.constrained-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  > * {
    flex-basis: 800px;
    flex-shrink: 1;
  }
}

.unit {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 150px 1fr;
  margin: 0 auto;
  @media (max-width: sizes.$small-breakpoint){
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }
  > h3 {
    margin-bottom: sizes.$s5;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    @media (max-width: sizes.$small-breakpoint){
      display: none;
    }
  }
}

.crumb-navigation {
  @include typography.breadcrumb-font;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: block;
  @media (min-width: sizes.$small-breakpoint){
    display: none;
  }
  li {
    display: inline-block;
  }
  li + li {
    margin-left: sizes.$s1;
    &::before {
      content: ">";
      margin-right: sizes.$s1;
    }
  }
}

.section-content {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  @media (max-width: sizes.$small-breakpoint){
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
}
