@use "../../styles/typography";
@use "../../styles/sizes";
@use "../../styles/colors";

.AppContent {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  @media (max-width: sizes.$small-breakpoint){
    width: 100%;
  }
  h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, table {
    width: 100%;
  }
  pre, code, img, figure, svg {
    width: 110%;
    margin-bottom: sizes.$f4;
    @media (max-width: sizes.$small-breakpoint){
      width: 100%;
    }
  }
  &.contained {
    padding: 0 sizes.$s4;
    pre, code, img, figure, svg {
      width: 100%;
    }
  }
  img[src$="#small"] {
    width: 30%;
    @media (max-width: sizes.$small-breakpoint){
      width: 50%;
    }
  }
  img[src$="#medium"] {
    width: 50%;
    @media (max-width: sizes.$small-breakpoint){
      width: 100%;
    }
  }
  img, blockquote {
    border-radius: sizes.$border-radius;
  }
  h1 {
    @include typography.heading-font-1;
  }
  h2 {
    @include typography.heading-font-2;
  }
  h3 {
    @include typography.heading-font-3;
  }
  h4, h5, h6 {
    @include typography.heading-font-4;
  }
  blockquote {
    background-color: colors.$grey-9;
    padding: sizes.$f5;
    > p {
      padding: 0;
      margin: 0;
    }
  }
  code {
    @include typography.code-font;
    margin: sizes.$f7 0;
    font-size: sizes.$f4; // Overrides inheritance
    white-space: pre-wrap !important; // Needed to override syntax highlighter
  }
  pre {
    white-space: pre-wrap;
    > div {
      border-radius: sizes.$border-radius !important;
    }
  }
  thead {
    border-bottom: 1px solid colors.$grey-7;
  }
  th {
    @include typography.heading-font-3;
    text-align: left;
    padding-bottom: sizes.$s2;
  }
  td {
    padding-top: sizes.$s3;
  }
  strong {
    font-weight: 700;
  }
  em {
    font-style: italic;
  }
  ul {
    list-style: square;
    padding-left: sizes.$s7;
  }
  ol {
    list-style: none;
    padding-left: sizes.$s7;
    > li {
      counter-increment: ordered-list-item;
      &::before {
        content: counter(ordered-list-item) ". ";
        font-weight: 700;
      }
    }
  }
  ul ul, ol ol, ul ol, ol ul, li ol, li ul {
    padding-left: sizes.$s7;
    @media (max-width: sizes.$small-breakpoint){
      margin-left: sizes.$s5;
    }
  }
  hr {
    width: 66%;
    border: 0.5px solid colors.$grey-8;
  }
  table {
    margin-bottom: sizes.$s5;
  }
  .contains-task-list {
    margin: sizes.$s5 0;
    .task-list-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      input {
        margin-top: 8px;
        margin-right: sizes.$s3;
      }
    }
  }
  .indicator {
    color: colors.$grey-6;
    &.failure {
      color: colors.$failure-7;
    }
    &.warning {
      color: colors.$warning-7;
    }
    &.success {
      color: colors.$success-7;
    }
    &.submitted {
      color: colors.$grey-8;
    }
  }
  svg.indicator {
    margin-left: sizes.$s3;
    margin-bottom: 0;
  }
}
