@use "../../styles/typography";
@use "../../styles/sizes";
@use "../../styles/colors";

.AppContent {
  width: sizes.$content-width-large;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: sizes.$s9;
  @media (max-width: sizes.$small-breakpoint){
    width: 100%;
  }
  h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, table {
    width: 100%;
  }
  pre, code, img, figure, svg {
    width: 110%;
    margin-bottom: sizes.$f4;
    @media (max-width: sizes.$small-breakpoint){
      width: 100%;
    }
  }
  h1 {
    @include typography.heading-font-1;
  }
  h2 {
    @include typography.heading-font-2;
  }
  h3 {
    @include typography.heading-font-3;
  }
  h4 {
    @include typography.heading-font-4;
  }
  blockquote {
    background-color: colors.$grey-9;
    padding: sizes.$f5;
    > p {
      padding: 0;
      margin: 0;
    }
  }
  code {
    @include typography.code-font;
    margin: sizes.$f7 0;
  }
  pre {
    // overflow: auto;
    white-space: pre-wrap;
  }
  thead {
    border-bottom: 1px solid colors.$grey-7;
  }
  th {
    @include typography.heading-font-3;
    text-align: left;
    padding-bottom: sizes.$s2;
  }
  td {
    padding-top: sizes.$s3;
  }
}
