@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/typography";

.ProgressViewer {
  width: 100%;
  h1 {
    @include typography.heading-font-1;
  }
  table {
    position: relative;
    th {
      font-weight: 700;
      position: sticky;
    }
    td {
      color: colors.$grey-6;
    }
    th, td {
      padding: sizes.$s1;
    }
    th {
      text-align: left;
    }
    td {
      text-align: center;
      border: 1px solid colors.$grey-10;
    }
    tbody th {
      left: 0;
      background-color: colors.$white;
      @include typography.body-font;
      text-align: right;
      color: colors.$grey-3;
    }
    thead {
      th {
        top: 0;
        background-color: colors.$white;
      }
    }
  }
  .indicator {
    color: colors.$grey-6;
    margin-bottom: 0;
    font-weight: 700;
    font-size: sizes.$f4;
    padding: 0 sizes.$s1;
    width: 1em;
    &:first-child {
      margin-left: sizes.$s3;
    }
    & + em {
      font-style: normal;
      font-size: sizes.$f5;
      color: colors.$grey-5;
    }
    & + em::before {
      content: "/ ";
    }
    &.failure {
      background-color: colors.$failure-6;
      color: colors.$white;
    }
    &.warning {
      color: colors.$warning-5;
    }
    &.success {
      background-color: colors.$success-6;
      color: colors.$white;
    }
  }
}
