@use "@sikaeducation/ui/styles" as *;

.AppFooter {
  display: flex;
  justify-content: flex-end;
  color: $colors-grey-4;
  font-weight: 400;
  font-size: $sizes-f2;
  font-family: "Gill Sans", sans-serif;
}
